p{
    margin: 0;
}
div{
    font-family: roboto;
}

.container{
    display: flex;
    width: 400px;
    padding: 10px;

}
.image-div{
    margin-right: 10px;
}
.image{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    object-fit: cover;
}
.user-details{
    font-size: 16px;
    font-weight: bold;
}
.user-name{
    font-weight: normal;
    font-size: 18px;
    color: gray;
}
.video-topic{
    font-size: 15px;
    margin-top: 5px;
    font-weight:400;
}
.video-link{
    margin-top: 8px;
    display: flex;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
}

.color-space{
    flex: 1;
    background-color: lightgray;
}
.video-link-details{
    width: 215px;
    padding: 12px;
}
.youtube-link{
    font-size: 15px;
    color: gray;
}
.video-title{
    font-size: 15px;
}